

*.vsidx
WEB_APP_Panaderia/.vs/WEB_APP_Panaderia/v17/.suo
WEB_APP_Panaderia/.vs/WEB_APP_Panaderia/v17/DocumentLayout.json
*.dll
WEB_APP_Panaderia/WEB_APP_Panaderia/bin/Debug/net8.0/WEB_APP_Panaderia.exe
WEB_APP_Panaderia/WEB_APP_Panaderia/bin/Debug/net8.0/WEB_APP_Panaderia.pdb
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/apphost.exe
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/ref/WEB_APP_Panaderia.dll
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/refint/WEB_APP_Panaderia.dll
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/WEB_APP_Panaderia.AssemblyInfo.cs
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/WEB_APP_Panaderia.AssemblyInfoInputs.cache
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/WEB_APP_Panaderia.dll
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/WEB_APP_Panaderia.pdb
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/WEB_APP_Panaderia.sourcelink.json
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/apphost.exe
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/ref/WEB_APP_Panaderia.dll
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/refint/WEB_APP_Panaderia.dll
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/WEB_APP_Panaderia.AssemblyInfo.cs
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/WEB_APP_Panaderia.AssemblyInfoInputs.cache
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/WEB_APP_Panaderia.dll
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/WEB_APP_Panaderia.sourcelink.json
WEB_APP_Panaderia/WEB_APP_Panaderia/obj/Debug/net8.0/WEB_APP_Panaderia.pdb
