@{
	ViewData["Title"] = "NuevoProducto";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="POS - Bootstrap Admin Template">
	<meta name="keywords"
		  content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
	<meta name="author" content="Dreamguys - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Dreams Pos Admin Template</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">
	<!-- animation CSS -->
	<link rel="stylesheet" href="assets/css/animate.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="assets/css/feather.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Bootstrap Tagsinput CSS -->
	<link rel="stylesheet" href="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">

	<!-- Datatable CSS -->
	<link rel="stylesheet" href="assets/css/dataTables.bootstrap5.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- jQuery UI (Datepicker) -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

</head>
<div class="page-wrapper">
	<div class="content">
		<div class="page-header">
			<div class="add-item d-flex">
				<div class="page-title">
					<h4>Editar Insumo</h4>
				</div>
			</div>
			<ul class="table-top-head">
				<li>
					<div class="page-btn">
						<a href="@Url.Action("InventarioLista", "Inventario")" class="btn btn-secondary"><i data-feather="arrow-left" class="me-2"></i>Regresar a Inventario</a>
					</div>
				</li>
				<li>
					<a data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse" id="collapse-header"><i data-feather="chevron-up" class="feather-chevron-up"></i></a>
				</li>
			</ul>

		</div>
		<!-- /add -->
		<form action="">
			<div class="card">
				<div class="card-body add-product pb-0">
					<div class="accordion-card-one accordion" id="accordionExample">
						<div class="accordion-item">
							<div class="accordion-header" id="headingOne">
								<div class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
									<div class="addproduct-icon">
										<h5><i data-feather="info" class="add-info"></i><span>Informacion de Producto</span></h5>
										<a href="javascript:void(0);"><i data-feather="chevron-down" class="chevron-down-add"></i></a>
									</div>
								</div>
							</div>
							<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<div class="col-lg-4 col-sm-6 col-12">
										<div class="mb-3 add-product">
											<label class="form-label">iD Cotizacion  </label>
											<a>0001</a>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4 col-sm-6 col-12">
											<div class="mb-3 add-product">
												<label class="form-label">Nombre de Insumo </label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-4 col-sm-6 col-12">
												<div class="mb-3 add-product">
													<label class="form-label">Fecha Vencimiento </label>
													<input type="text" id="datepicker" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-sm-6 col-12">
											<div class="mb-3 add-product">
												<label class="form-label">Fecha de Ingreso </label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-4 col-sm-6 col-12">
												<div class="mb-3 add-product">
													<label class="form-label">Cantidad</label>
													<input type="text" id="datepicker" class="form-control">
												</div>
												</<div>
												</div>
												<!-- /Editor -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="btn-addproduct mb-4">
								<button type="button" class="btn btn-cancel me-2">Cancelar</button>
								<button type="submit" class="btn btn-submit">Guardar Cambio</button>
							</div>
						</div>
		</form>
		<script>
			$(function () {
				$("#datepicker").datepicker();
			});
		</script>
