<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>@ViewBag.Title</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
@RenderBody()
<body class="account-page">

    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>


    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.7.1.min.js"></script>

    <!-- Feather Icon JS -->
    <script src="~/assets/js/feather.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/theme-script.js"></script>
    <script src="~/assets/js/script.js"></script>
    
    <script src="~/js/buscar-correo-rc.js"></script>
    <script src="~/js/validacion-campos-iniciar-sesion.js"></script>

</body>

</html>
